body{
    background-color: rgb(235, 92, 116);
    display:flex;
    justify-content:center; /* center horizontally */
    align-items:flex-start;    
    height: 100vh;    
}
h1{
    padding-top: 60px;
    color:white;
    text-align: center;
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    
    transition:transform 0.9s ease;
} 
h1:hover{
    transform:scale(1.5);
}
.nav{
    position:absolute;
    top: 10px;            /* distance from top */
    right: 5px;   
    display: flex;         /* align items horizontally */
    gap: 5px; 
          
}
.nav p {
  margin-left: 30px;    /* space between items */
  font-weight: bold;
  color: rgb(17, 17, 17);
  transition:transform 0.6s ease;
}
p:hover{
    transform:scale(1.1);
}